# Environnement
.venv/
venv*/
.env
.env*

# Fichiers Python
__pycache__/
*.py[cod]
*.so
*.pyd

# Packages
lib/
include/
share/
bin/

# Données et logs
data/
logs/
*.log
*.data
*.prof

# Système
.DS_Store
*.swp
*.bak
